.settings/*
.settings

lib
lib/*

bin/*
bin

logs/*
logs

Debug
Release
Debug-GL
Debug-GL-sanitize
Debug-SDL
Debug/*
Release/*
Debug-GL/*
Debug-GL-sanitize/*
Debug-SDL/*

.cproject
.project
*.dll
*.md.html
*.swp

build
build/

/Debug-sanitize/
/Debug-GL/

assets/test_music.ogg

