[submodule "vendor/tmxparser"]
	path = vendor/tmxparser
	url = https://github.com/sainteos/tmxparser
[submodule "vendor/tinyxml2"]
	path = vendor/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
[submodule "vendor/easyloggingpp"]
	path = vendor/easyloggingpp
	url = https://github.com/muflihun/easyloggingpp
